[client-server]
port = 3306
socket = /run/mysqld/mysqld.sock

[mysql]
[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[server]

[mysqld]
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp

# bind-address            = 127.0.0.1

key_buffer_size        = 128M
max_allowed_packet     = 1G
thread_stack           = 192K
thread_cache_size      = 8
max_connections        = 100

log_error = /var/log/mysql/error.log
slow_query_log_file    = /var/log/mysql/mariadb-slow.log
long_query_time        = 10
log_slow_verbosity     = query_plan,explain
log-queries-not-using-indexes
min_examined_row_limit = 1000

server-id              = 1
log_bin                = /var/log/mysql/mysql-bin.log
expire_logs_days        = 10
max_binlog_size        = 100M

character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci

[embedded]
[mariadb]

[mariadb-10.6]

[mysqld_safe]
nice = 0
skip_log_error
syslog

[mysql]
[mysql_upgrade]
[mysqladmin]
[mysqlbinlog]
[mysqlcheck]
[mysqldump]
[mysqlimport]
[mysqlshow]
[mysqlslap]
[client]
[client-mariadb]